# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
# Database
db.sqlite3

# Django
*.log
media/

# VS Code
.vscode/

# Environment Variables
.env

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py

